

body{
  background-color: #DDDDDD;
}

html{
        border: 5px solid purple;
        height: auto;
      }
p{
        border-style: solid;
        border-width: 3px;
        border-left-width: 10px;
        border-right-width: 10px;
        border-color: purple;
        margin: 0px 300px;
        text-align: center;
}

}
h3:hover{
  color: purple;
  font-size: 20px;
}
h2:hover{
  color: purple;
  font-size: 20px;
}

h1:hover{
  color: black;
  font-size: 40px;
  
}
button:hover{
  color: purple;
  font-size: 25px;
}
.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid purple;
}
.vid{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
